<!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <form class="form-horizontal" method="POST" role="form" action="{% url 'home:lock' %}">
          {% csrf_token %}
        <div class="modal-body">

          <h1>{{object.location}} {{object.boxNumber}}번</h1>
          <br>
          <div>userID: {{ object.userID}}</div>
          <div>microswitch: {{ object.microswitch}}</div>
          <div>led: {{object.led}}</div>
          <div>image: {{object.image}}</div>
          <div>lock: {{object.lock}}</div>

          <input type="hidden" name="boxID" value={{object.boxID}} />

           {% if object.lock == 1 %}
           <div><input type="submit" name="button" id="btn" value="open"></button></div>
           {% else %}
           <div><input type="submit" name="button" id="btn" value="close"></button></div>
           {% endif %}


         </div>
       </form>

         <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="닫기" />
              </div>




<script type="text/javascript">
  /*$(document).ready(function(){
    $("#btn").click(function(){
      var lock = $('#btn').val();
      var boxID="{{object.boxID}}"
      $.ajax({
        type: 'POST',
        url:'/lock/',
        dataType:"json",
        async:true,
        data:{
          lock:lock,
          boxID:boxID,
          csrfmiddlewaretoken:'{{ csrf_token}}'
        },
        suceess:function(data){
          alert(data);
        },
        error: function(){
          alert('err')
        },
      });
      });
    });*/
</script>
