<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
  </head>
  <body>
      <div class="wrap">
    <% include ../views/partials/nav %>
    <div class="box">
        <figure class="background">
          <video id="vid1" autoplay loop>
            <source src="images/background.mp4" type="video/mp4"/>
          </video>
        </figure>
    <section class="complete">
    <p class="paycomplete">결제가 완료되었습니다.<br>감사합니다.</p>
    </section>
  </div>
</div>
  </body>

  <script>
    
      var socket = io();
      var box_id = <%= box_id %>;
  
      $(window).load(function(){
        socket.emit('reserve', box_id);
      });
  
  
    </script>
</html>
